/* ms-bos.css */

body {
    background: #1d1f21;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    font-style: normal;
    color: #b5bd68;
}

h1 {
    font-size: 24pt;
    font-weight: normal;
    font-style: normal;
    border-bottom: 1px solid black;
}

h2 {
    font-size: 20pt;
    font-weight: normal;
    font-style: normal;
}

h3 {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 16pt;
    font-weight: normal;
    font-style: normal;
}

#display {
    background-color: #1d1f21;
    border: 2px solid #c5c8c6;
    cursor: default;
}

.normal_button {
    width: 100px;
}

.footerText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    text-align: center;
}

#taskbar {
    width: 492px;
    height: 1.5em;
    line-height: 1.5em;
    padding-left: 4px;
    padding-right: 4px;
    margin: 4px;
    border: 2px solid #c5c8c6;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clear {
    clear: both;
}

#divConsole {
    margin: 4px;
    width: 500px;
    height: 500px;
    float: left;
}

#divButtonBar {
    margin:4px;
}

.column {
    width: 520px;
}

#divStatuses {
    margin-left:520px;
    padding-top: 28px;
}
