/* ms-bos.css */

body {
    font-size: 12pt;
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 24pt;
    font-weight: normal;
    font-style: normal;
    border-bottom: 1px solid black;
}

h2 {
    font-size: 20pt;
    font-weight: normal;
    font-style: normal;
}

h3 {
    font-size: 16pt;
    font-weight: normal;
    font-style: normal;
}

#display {
    background-color: #eceef0;
    border: 2px solid #c5c8c6;
    cursor: default;
    height: 500px;
    min-height: 500px;
}

.footerText {
    font-size: 8pt;
    text-align: center;
}

#taskbar {
    width: 500px;
    height: 2.0em;
    line-height: 2.0em;
    padding-left: 4px;
    padding-right: 4px;
    margin: 4px;
    border: 2px solid #c5c8c6;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clear {
    clear: both;
}

#divConsole {
    margin: 4px;
    width: 500px;
    height: 500px;
}

#divButtonBar {
    margin:4px;
}

#divStatuses .row {
    padding-bottom: 10px;
}

.memory-display-div {
    display:block;
    max-height: 250px;
    height: 250px;
    overflow: auto;
    font-family: "Lucida Console", Monaco, monospace;
}

.navbar .disabled {
    color: #bdc3c7 !important;
}

#taLog {
    height: 200px;
    overflow: auto;
}

.log-row {
    padding-bottom: 2px;
}

/* Override some flat-ui styles */
textarea {
    font-size: 12pt;
    line-height: 1em;
    padding: 0px;
}
